body {
  box-sizing: border-box;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
  justify-content: center;
  gap: 24px;
  margin: 0;
}
.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}

.gallery-image:hover {
  transform: scale(1.04);
}
